<mat-sidenav-container fullscreen>
  <mat-sidenav class='mainmenu' #sidenav [mode]="menuside" [opened]="menuopen" position="start">
    <nav>

      <!-- Logged in Profile Details -->
      <!-- ------------------------- -->
      <div class='profile'>
        <div class='profilepic'>HA</div>
        <div class='profiledetails'>
          Himanshu Arora<br>
          <span>Himanshu73188@gmail.com</span>
        </div>
      </div>

      <!-- Menu Items -->
      <div class='sub'>
      
        <!-- Manage Pages -->
        <!-- ------------ -->
        <h3>Manage</h3>        
        <a routerLink="/user-settings" class="submenu">
          <i class="material-icons">assessment</i> User Settings
        </a>
        
      </div>  

      <!-- Global links -->
      <!-- ============ -->
      <a href='javascript:void(0);' (click)="logOut()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
    </nav>
  </mat-sidenav>

  <mat-toolbar class='header' *ngIf='showheader'>
    
    <mat-toolbar-row>
      <a href='javascript:void(0);' (click)="closeMenu()" class="closebtn" *ngIf="menubtn"><mat-icon>arrow_left</mat-icon></a>
      <a href='javascript:void(0);' (click)="openMenu()" class="menubtn" *ngIf="!menubtn"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <a routerLink='/dashboard' class='logo'><img src='./assets/img/logo.png'></a>
    </mat-toolbar-row>

  </mat-toolbar>

  <div class='container'>
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
