<main>

    <div class='user-settings'>
  
      <!-- page Title -->
      <mat-toolbar>
        <mat-toolbar-row class='pagetitle'>
            <h1>User Settings</h1>
            <span class="toolbarspacer"></span>
        </mat-toolbar-row>
      </mat-toolbar>

      <!-- Display images -->
      <ng-container *ngIf="imageLink1">
        <h1>n/10 x m/10 px Image</h1>
        <img src={{imageLink1}} >
      </ng-container>
      <ng-container *ngIf="imageLink2">
        <h1>n/20 x m/20 px Image</h1>
        <img src={{imageLink2}} >
      </ng-container>
      <br />

      <!-- upload image -->
      <input enctype = "multipart/form-data" type="file" name="file" (change)="onImageChange($event)" accept="image/*"> <br /><br />
      
      <!-- submit -->
      <button mat-raised-button (click)="uploadFile()" [disabled]="!uploadedImage1 && !uploadedImage2" class="redbtn">Upload</button>

    </div>
    
</main>
