/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

$mainfont: "proxima-nova";
$bg-failure: #eb4d4b;
$bg-success: #6ab04c;
$bg-pending: rgba(189,100,0,0.6);

// Theme Colours
$themecolor1: #6a327c; // header
$themeaccentcolor1: #814495;
$themecolor2: #f5f5f5; // background
$themecolor3: #dfe4ea; // pagetitle
$themecolor4: #ffffff; // table-container
$themecolor5: #535c68; // menu

$menudividerlight: #743a87; 
$menudividerdark: #572767; 
$submenudividerlight: #8f51a4; 
$submenudividerdark: #6b377c; 

$buttoncolor1: #eb4d4b;
$buttonaccentcolor1: #ff7979;
$buttoncolor2: #f1f2f6;

$titlecolor1: #000000;
$titlecolor2: #227093;

// dark theme
// $themecolor1: #aaa69d;
// $themecolor2: #f7f1e3;



// Global styles
html {height: 100%;}
body {margin: 0px !important; font-family: $mainfont, sans-serif;}
h1 {font-size: 20px;font-weight: 700;font-family: $mainfont, sans-serif;color: $titlecolor1;}

// Body and Container
.mat-drawer-container {background: $themecolor2;background-size: cover;}
.container {height: 100vh;}

// Miscellaneous
.toolbarspacer {flex: 1 1 auto;}
.clear {clear: both;}

// Button Styles
.redbtn {background: $buttoncolor1;color: #fff;}
.redbtn:hover {color: #fff;background: $buttonaccentcolor1;}
.greybtn {background: $buttoncolor2;color: $titlecolor1;}
.greybtn:hover {color: $titlecolor1;}
.filterbtn {background: transparent !important;color: $titlecolor1;}

// Form Styles
.mat-form-field {font-family: $mainfont;background: $themecolor2;}

// Remove browser unwanted styles
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px $themecolor2 inset !important;
}


.vertical-layout, div.defaultLightbox, div.login, div.login > form  { display: flex; flex: 1; flex-direction: column; }

.horizontal-layout, div.main { display: flex; flex: 1; flex-direction: row; }


// Main Header 
// ===========
.header {
    
    & {background-color: $themecolor1;position: fixed;z-index: 1000;}

    .mat-toolbar-row {color: #fff;}
    .closebtn {display: block;background: $themeaccentcolor1;color: #fff;font-size: 24px;width: 20px;text-align: center;margin: 10px 60px 10px -16px;height: 30px;padding-top: 8px;transition: width 1s ease;}
    .menubtn {display: block;background: $themeaccentcolor1;color: #fff;font-size: 28px;width: 80px;text-align: center;margin: 0 20px 0 -16px;height: 48px;padding-top: 16px;transition: width 1s ease;}

    //.menu {display: block;color: #fff;font-size: 0.85em;text-transform: uppercase;font-family: $mainfont;padding: 16px 30px 9px;font-weight: 800;text-decoration: none;border-bottom: 5px solid $themecolor1;}
    .active {border-bottom: 7px solid #fff;}
    .logo img {width: 130px;margin-top: 10px;}

}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {background-color: $themecolor1 !important;}
.mat-ink-bar {height: 4px;}
.mat-tab-label-content {text-transform: uppercase;font-family: $mainfont;}
.mat-tab-labels {background: #fff;}



.aside {
    & {font-family: $mainfont;width: 90%;background: #ecf0f1;padding: 0;}

    .header { width: 100%; padding: 15px 2%; margin: 0; background: #FFF;box-shadow: rgba(0,0,0,0.2); text-transform: uppercase; }
    .content { margin: 20px; text-align: justify; }
    .actionBtn { display: flex; justify-content: flex-end; margin: 20px; }

}

.navbar {
    
    & {display: flex;flex-direction: column;width: 340px;background: #ced6e0; }

    a {
        & { display: block; width: 80%; margin: 0 auto; color: #FFF;
            text-decoration: none; font-size: 1.2em; padding: 5px 10px; border-bottom: 1px solid #3d8fb6;
            border-top: 1px solid #277499; font-family: $mainfont; }

        &:first-of-type { border-top: none; }

        &:last-of-type { border-bottom: none; }

        &:hover { color: #ecf0f1; }
    }
}

/* -- Menu Main -- */
/* -- ========= -- */
.mainmenu {

    & {width: 300px;background: $themecolor1;color: #fff;}

    .menulogo {height: 32px;margin: 6px 0 2px -20px;}
    
    .container {height: 100%;}
    nav h2 {color: #fff;font-size: 1.5em;text-transform: uppercase;width: 90%;margin: 0 auto;padding: 15px 5%;font-weight: 800;}
    nav h3 {color: #fff;font-size: 1.2em;letter-spacing: 0.1em;text-transform: uppercase;width: 90%;margin: 0 auto;padding: 15px 5%;font-weight: 600;}
    nav a {display: block;width: 90%;margin: 0 auto;color: #fff;text-decoration: none;font-size: 1.1em;font-weight: 300;padding: 15px 5px;background: none;border-bottom: 1px solid $menudividerlight;border-top: 1px solid $menudividerdark;}
    nav .profile {background: $themeaccentcolor1;padding: 20px;text-align: center;font-size: 1.4em;display: flex;align-items: center;}
    nav .profile .profilepic {flex: 0 0 60px;height: 47px;border-radius: 50%;background: $themecolor1;padding-top: 13px;}
    nav .profile .profiledetails {flex: 1 1 auto;font-size: 14px;text-align: left;line-height: 16px;margin-left: 10px;}
    nav .profile .profiledetails span {font-size: 12px;}
    nav .submenu {padding: 5px 5px 5px 20px;font-size: 0.9em;border-top: 1px solid $submenudividerlight;border-bottom: 1px solid $submenudividerdark;}
    nav .sub {background: $themeaccentcolor1;}
    nav a:first-of-type {border-top: none;}
    nav a:last-of-type {border-bottom: none;}
    nav a:hover {color: #ecf0f1;}
    nav a i {display: block;float: left;margin-top: -4px;margin-right: 20px;font-size: 28px;opacity: 0.3;}

}






// main h1 {margin: 10px 0 10px 0;font-size: 2.5em;font-weight: 800;text-transform: uppercase;color: #3c6382;}

// Main container and their styles
// -------------------------------
main {

    & {font-family: $mainfont;}

    // Main toolbar
    .pagetitle {background: transparent !important;width: 100%;}
    .mat-toolbar {background: transparent !important;}
    .mat-toolbar-row h1 {margin: 10px 0 10px 0;font-size: 1.5em;font-weight: 800;text-transform: uppercase;color: $titlecolor1;font-family: $mainfont;}
    .mat-toolbar-row button {font-weight: 800;font-family: $mainfont;text-transform: uppercase;margin-right: 5px;}
    
    .table-container {display: flex;flex-direction: column;min-width: 300px;background: $themecolor4;border-top: 2px solid $themecolor1;}

    // Mat Table
    // ---------
    .mat-table {font-family: $mainfont;overflow: auto;max-height: 80vh;}
    .mat-header-row {position: sticky;top: 0;background-color: transparent;z-index: 1000;}
    .mat-header-cell {font-size: 1em;color: $themecolor1;font-family: $mainfont;text-transform: uppercase;font-weight: 800;}
    .mat-menu-item {font-family: $mainfont;letter-spacing: 0;font-size: 12px;padding: 0 8px !important;height: auto !important;line-height: 36px !important;margin-bottom: 0;}
    
    .draft {background: #e55039;color: #fff;font-weight: 800;padding: 2px 5px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
    .running {background: #78e08f;color: #fff;font-weight: 800;padding: 2px 5px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}
    .closed {background: none;color: #78e08f;font-weight: 800;padding: 2px 5px;border-radius: 2px;-moz-border-radius: 2px;-webkit-border-radius: 2px;}

}

.mat-column-responses {flex: 0 0 160px !important;text-align: center !important;}
.mat-column-status {flex: 0 0 160px !important;text-align: center !important;}
.mat-column-tools {flex: 0 0 80px !important;text-align: right;}



app-lightbox { display: flex; justify-content: center; position: fixed;  width: 100%; height: 100%; 
               background: rgba(0,0,0,0.5);  z-index: 10000; font-family: $mainfont; }

.lightbox { 
    & { position: fixed; text-align: center; padding: 0px; background: #FFF;
        z-index: 10001; border-radius: 9px; min-height: 100px; top: 64px; font-family: $mainfont; }

    h1 { color: #FFF; background-color: #16577f; font-size: 1.5em; margin: 0px;
         padding: 20px 0px; border-top-right-radius: 7px; border-top-left-radius: 7px; }
}

.defaultLightbox > div {  
    padding: 10px;
    font-family: $mainfont;
    &:last-of-type { display: flex;  justify-content: flex-end; }
    > p { text-align: justify; }
}

// Login page
app-login { display: flex; justify-content: center;}

.login {
    
    & {min-width: 30vw;margin-top: 100px;font-family: $mainfont;background: $themecolor4;padding: 30px;}
    .loginheader {margin: -30px -30px 0 -30px;background: $themecolor1;padding: 20px;text-align: center;}
    .loginheader img {margin: 0 auto;width: 200px;}
    div.actionBtn { display: flex; justify-content: flex-end; }
    .mat-form-field {background: $themecolor4;}
    form {
        input[type="text"] { height: 16px; padding: 0px; border: 0; background: none; border-radius: 0px; }
        input[type="email"] { height: 16px; padding: 0px; border: 0; background: none; border-radius: 0px; }
        input[type="password"] { height: 16px; padding: 0px; border: 0; background: none; border-radius: 0px; }
        input[type="password"]:focus { border: none; outline: none; }
    }

}

// Snackbar container
// ----------------
.mat-snack-bar-container {margin: 20px !important;}
.mat-snack-bar-container-failure {background-color: $bg-failure;}
.mat-snack-bar-container-success {background-color: $bg-success;}
.mat-snack-bar-container-pending {background-color: $bg-pending;color: #fff;}
